<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <h1> Contact</h1>
    <p>Dan Bertrand - Berlin</p>
    <p>You can email me at any time : <a href="mailto:dan.bertrand.hs@gmail.com">Send me an email</a></p>

  
  </body>
</html>