<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>


    <h1> This is the special page for the Gossip n°<%= @gossip.id %></h1>
    </br>
    </br>
    </br>
    Author :<%= @gossip.author%></br>
    Title:<%= @gossip.title%></br>
    Content :<%= @gossip.content%></br>



  </body>


</html>