<html>
  <head>
    <title>The Gossip Project</title>
  </head>

  <body>
    <h1> Welcome to the team page</h1>

    <p>I have been woring alone for this project. Not easy. Happy to do pair programming the next time.</p>

  
  </body>
</html>